@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
}

button {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
p,
.balanced {
  text-wrap: balance;
}

header > div,
header img {
  transition: 150ms;
}

.header-small > div {
  padding: 20px;
}

.header-small img {
  width: 100px;
}

.fade-in {
  animation: fade-in 500ms forwards ease-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.start {
  translate: -10%;
  opacity: 0;
}

.end {
  translate: 0 0;
  opacity: 1;
}

.no-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.ncls-1 {
  fill: #f7aef8;
}
.ncls-1,
.ncls-2,
.ncls-3,
.ncls-4,
.ncls-5 {
  stroke-width: 0px;
}
.ncls-2 {
  fill: #4ecdc4;
}
.ncls-3 {
  fill: #7239f4;
}
.ncls-4 {
  fill: #1cc5ff;
}
.ncls-5 {
  fill: #97f9f9;
}
